@import "@fontsource/ibm-plex-sans/latin.css";
@import "../../ui.css";

html {
  --primary: #005793;
  --highlight: #77A9FF;
  --link: var(--primary);
  --link-hover: var(--highlight);
  --black: #1b1b1b;
  --white: white;
  --page-bg: #f3f4f6;

  --font-sans: "IBM Plex Sans", "Helvetica Neue", "Arial", "sans-serif";
}
