@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .default-focus {
        @apply focus:outline-none focus:ring-0 focus-visible:outline focus-visible:outline-offset-4 focus-visible:outline-[3px] focus-visible:outline-pink-500;
    }

    :root {
        @apply default-focus;
    }

    html,
    body {
        @apply overflow-x-hidden overscroll-x-none antialiased relative min-h-screen m-0 font-sans bg-gray-100;
    }

    :disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    #app {
        @apply h-screen flex-col flex max-w-[1440px] mx-auto sm:mx-8 md:mx-12 lg:mx-24;

        & > header {
            @apply min-w-full flex justify-between items-center py-8 px-4 md:px-0;

            & > nav {
                @apply flex gap-12 self-end;
            }
        }

        & > footer {
            @apply hidden md:flex md:p-16;

            & > section {
                @apply flex flex-col gap-4;

                & > h3 {
                    @apply font-bold;
                }
            }
        }
    }

    main {
        @apply relative px-12 py-12 lg:px-20 lg:py-24 flex flex-col items-start flex-1  bg-white text-black rounded-lg;

        &.center {
            @apply justify-center;
        }

        & .back-link {
            @apply absolute top-10 left-10  hidden gap-8 no-underline md:inline-flex hover:text-primary-500 book;
        }
    }

    img {
        @apply max-w-full h-auto;
    }

    dd {
        @apply mb-2;
    }

    a,
    button {
        @apply default-focus;
    }

    address {
        @apply not-italic;
    }

    .content {
        @apply md:py-12 md:px-16;
    }
}

@layer components {
    .h1 {
        @apply font-bold text-[42px] leading-none mb-5;
    }

    .h3 {
        @apply font-semibold text-[19px];
    }

    .book {
        @apply font-medium text-[12px] uppercase mb-2 ml-4 tracking-[4px];
    }

    .text {
        @apply text-[18px] mb-8;

        &.intro1 {
            @apply text-[16px] mb-8;
        }

        &.intro2 {
            @apply text-[16px] mb-8;
        }

        hyphens: auto;
    }

    .field {
        @apply flex;

        &.field-inline {
            @apply flex-row;
        }

        &:not(.field-inline) {
            @apply flex-col;
        }
    }

    .field-error {
        @apply text-red-500 ml-12 font-bold relative;

        &::before {
            content: url("data:image/svg+xml;utf8,<svg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M10 1.49512C5 1.49512 1 5.48281 1 10.4674C1 15.452 5 19.4397 10 19.4397C15 19.4397 19 15.452 19 10.4674C19 5.48281 15 1.49512 10 1.49512ZM6.5 14.9536L14.5 6.97819L13.5 5.98127L5.5 13.9567L6.5 14.9536Z' fill='%23DA1E28'/><path opacity='0.01' fill-rule='evenodd' clip-rule='evenodd' d='M6.5 14.9538L14.5 6.97837L13.5 5.98145L5.5 13.9568L6.5 14.9538Z' fill='%23DA1E28'/></svg>");

            display: block;
            position: absolute;
            width: 22px;
            height: 22px;
            left: -28px;
            top: 5px;
        }
    }

    .default-input {
        @apply rounded-lg border-2 border-black default-focus;
    }

    .label {
        @apply book mb-2 select-none;
    }

    .input {
        @apply form-input default-input;
    }

    .hint {
        @apply text-gray-800 text-sm mt-1 ml-4;
    }

    .select {
        @apply form-select default-input;
    }

    .checkbox {
        @apply form-checkbox default-focus outline-none flex items-center mt-1 mr-2;
    }

    .radio {
        @apply form-radio text-black border;
    }

    .textarea {
        @apply form-textarea default-input;
    }

    /* 
    based on https://github.com/argyleink/gui-challenges/tree/main/switch
    TODO: port to tailwind
    */
    .switch {
        @apply appearance-none cursor-pointer box-content flex-shrink-0 grid items-center checked:bg-primary-200 bg-gray-200  border-2;

        --thumb-size: 2rem;
        --thumb: hsl(0 0% 100%);
        --thumb-highlight: hsl(0 0% 0% / 25%);

        --track-size: calc(var(--thumb-size) * 2);
        --track-padding: 2px;
        --track-inactive: hsl(80 0% 80%);
        --track-active: theme('colors.green.300');

        --thumb-color: var(--thumb);
        --thumb-color-highlight: var(--thumb-highlight);
        --track-color-inactive: var(--track-inactive);
        --track-color-active: var(--track-active);

        --isLTR: 1;
        --thumb-position: 0%;
        --thumb-transition-duration: 0.25s;

        padding: var(--track-padding);
        background: var(--track-color-inactive);
        inline-size: var(--track-size);
        block-size: var(--thumb-size);
        border-radius: var(--track-size);

        touch-action: pan-y;

        outline-offset: 5px;

        grid: [track] 1fr / [track] 1fr;

        transition: background-color 0.25s ease;

        &::before {
            --highlight-size: 0;

            content: '';
            grid-area: track;
            inline-size: var(--thumb-size);
            block-size: var(--thumb-size);
            background: var(--thumb-color);
            box-shadow: 0 0 0 var(--highlight-size) var(--thumb-color-highlight);
            border-radius: 50%;
            transform: translateX(var(--thumb-position));

            & {
                transition: transform var(--thumb-transition-duration) ease,
                    box-shadow 0.25s ease;
            }
        }

        &:not(:disabled):hover::before {
            --highlight-size: 0.5rem;
        }

        &:checked {
            --thumb-position: calc((var(--track-size) - 100%) * var(--isLTR));
        }

        &:indeterminate {
            --thumb-position: calc(
                calc(calc(var(--track-size) / 2) - calc(var(--thumb-size) / 2)) *
                    var(--isLTR)
            );
        }

        &:disabled {
            --thumb-color: transparent;

            &::before {
                cursor: not-allowed;
                box-shadow: inset 0 0 0 2px hsl(0 0% 100% / 50%);
            }
        }
    }

    .message {
        @apply w-full px-4 py-3 rounded-md;

        &.success {
            @apply bg-green-100 text-green-600;
        }

        &.warning {
            @apply bg-orange-100 text-orange-600;
        }

        &.danger {
            @apply bg-red-100 text-red-600;
        }

        &.info {
            @apply bg-blue-100 text-blue-600;
        }
    }

    .link {
        @apply underline;

        &.hover {
            @apply inline-flex items-center gap-1 hover:text-primary-500;
        }
    }

    .buttons-list {
        @apply flex flex-row gap-2;
    }

    .button {
        @apply inline-flex w-full sm:w-auto items-center justify-center self-start gap-1 default-input;

        &.primary {
            @apply text-white bg-primary-600 hover:bg-primary-700 border-transparent;
        }

        &.secondary {
            @apply border-black border-2 text-black hover:bg-primary-700 hover:text-white;
        }

        &.sm {
            @apply px-4 py-2;
        }

        &.md {
            @apply px-8 py-3 md:py-2  md:px-6 font-semibold text-[18px] md:text-[23px];
        }
    }

    .box {
        @apply bg-white  max-w-[90vw] w-full shadow-md rounded-md overflow-auto;

        & .header {
            @apply p-4 bg-gray-50 flex justify-between items-center;
        }

        & .content {
            @apply px-4 py-8;
        }

        & .footer {
            @apply p-4 bg-gray-50;
        }
    }

    .modal {
        @apply overflow-y-auto fixed inset-0 z-10;

        & .overlay {
            @apply fixed inset-0 bg-black opacity-80;
        }

        & .container {
            @apply flex justify-center items-center min-h-screen mx-auto max-w-[80vw];
        }

        & .inner {
            @apply relative mx-auto bg-white  rounded-md overflow-hidden md:min-w-[600px];
        }

        & .content {
            @apply p-4;
        }

        & .header {
            @apply p-4 bg-gray-50;
        }

        & .footer {
            @apply p-4 bg-gray-50;
        }

        & .sm {
            @apply max-w-[640px];
        }
    }

    .tabs {
        @apply items-center border-b border-gray-300 flex flex-grow flex-shrink-0 justify-start;

        & a {
            @apply no-underline items-center border-b border-gray-300 flex justify-center -mb-[1px] px-6 py-2 align-top hover:font-semibold;
        }

        & .current a {
            @apply font-bold text-primary-700 border-primary-700;
        }

        & .tab {
        }
    }

    .table {
        @apply min-w-full divide-y divide-gray-50 table-fixed;

        & thead {
            @apply bg-gray-50;
        }

        & thead th {
            @apply py-3 px-6 text-xs  font-medium tracking-wider text-left  uppercase text-gray-500;
        }

        & tbody {
            & tr {
            }

            & th,
            & td {
                @apply py-4 px-6 text-sm text-gray-900 whitespace-nowrap;
            }

            & th {
                @apply text-left font-medium;
            }

            & td {
            }
        }
    }

    .striped {
        & tbody {
            & tr:nth-child(odd) {
                @apply bg-white;
            }

            & tr:nth-child(even) {
                @apply bg-gray-50;
            }
        }
    }

    .selectable {
        & tbody tr {
            @apply cursor-pointer;
        }
    }

    .selected {
        @apply !bg-primary-100;
    }

    .tag {
        @apply p-2 rounded;

        &.warning {
            @apply bg-orange-100 text-orange-700;
        }

        &.success {
            @apply bg-green-100 text-green-700;
        }

        &.error {
            @apply bg-red-100 text-red-700;
        }
    }

    .secret {
        @apply uppercase tracking-wider;
    }

    .secrets-box {
        @apply flex flex-col p-6 my-4 rounded-md text-center items-center bg-red-100 gap-4;

        & h4 {
        }

        & code {
            @apply font-semibold text-4xl text-center uppercase tracking-wider;
        }
    }

    .provider-data-summary {
        @apply p-4 rounded-md;

        & dt {
            @apply font-bold;
        }

        &:not(.verified) {
            @apply bg-gray-50;
        }

        &.verified {
            @apply bg-green-100;
        }
    }
}

@layer utilities {
}
