.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;

  width: fit-content;
  letter-spacing: 1.5px;

  /* @apply inline-flex transition duration-200 ease-in-out justify-center items-center; */
  /* @apply text-sm leading-5 h-5; */

  padding-left: 0.563rem;
  padding-right: 0.563rem;
}
