a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  color: var(--link);
  text-underline-offset: 2px;
  text-decoration: none;

  &:visited {
    color: var(--link-visited);
  }

  &[aria-current] {
    text-decoration: underline;
  }

  &.link:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }
}

.back-link {
  position: relative;
  margin-bottom: 1rem;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;

  &::before {
    content: url("data:image/svg+xml;utf8,<svg preserveAspectRatio='xMidYMid meet' aria-hidden='true' width='14' height='14' viewbox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.7 12.3L2.9 8.5 15 8.5 15 7.5 2.9 7.5 6.7 3.7 6 3 1 8 6 13z' /></svg>");
    position: absolute;
    left: -2rem;
  }

  &:hover {
    color: var(--link-hover);
  }
}
