.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  & > * {
    display: flex;
    align-items: center;
  }

  & nav {
    align-self: flex-end;
    display: flex;
    gap: 4vmax;

    @media (--m-n-below) {
      display: none;

      &.open {
        z-index: -1;
        display: flex;
        position: fixed;
        inset: 0;
        padding: 5vmax;
        place-content: center;
        place-items: center;

        flex-direction: column;
        background-color: white;
        color: black;
        font-size: 2rem;
      }
    }
  }

  & button {
    z-index: 100;
    align-self: flex-end;

    & svg {
      width: 2.5rem;
      height: 2.5rem;
    }

    &:hover {
      color: var(--primary);
    }

    @media (--m-n-above) {
      display: none;
    }
  }
}
