/* stylelint-disable no-descending-specificity */
*, ::before, ::after { box-sizing: border-box; }

* {
  background-origin: border-box;
  background-repeat: no-repeat;

  &:where(:not(fieldset)) {
    border-width: 0;
    border-style: solid;
  }
}

:where(html) {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  font-family: var(--font-sans);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  scrollbar-gutter: stable both-edges;

  scrollbar-color: var(--scrollbar-color) transparent;
  accent-color: var(--color-primary);
  caret-color: var(--color-primary);
  
  @media (--motionOK) {
    &:focus-within {
      scroll-behavior: smooth;
    }
  }
}

:where(body) {
  margin: 0;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--font-lineheight-1);
  font-weight: var(--font-weight-9);
  margin: 0;
}

:where(h1) { 
  font-size: var(--font-size-8); 
  /* max-width: var(--size-header-1);  */
}

:where(h2) { 
  font-size: var(--font-size-6); 
  /* max-width: var(--size-header-2); */
}

:where(h3) { font-size: var(--font-size-5) }
:where(h4) { font-size: var(--font-size-4) }
:where(h5) { font-size: var(--font-size-3) }

:where(h3, h4, h5, h6, dt) {
  max-width: var(--size-header-3);
}

:where(p, ul, ol, dl, h6) {
  font-size: var(--font-size-2);
}

:where(p) {
  margin: 0;
}

:where(dd) {
  margin: 0 0 1rem 0.5rem;
}

:where(ul, ol) {
  margin: 0;
  padding: 0;

  &:where([role="list"]) {
    list-style: none;
  }
}

:where(a, u) {
  text-underline-offset: 1px;
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
}

:where(a) {
  text-decoration: none;

  &:not([class]) {
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
  }

  &:where(:not(:hover)) {
    text-decoration: inherit;
  }
}

:where(button) {
  appearance: none;
  background-color: transparent;
  border: none;
}

:where(img, svg) {
  display: block;
  max-width: 100%;
  height: auto;
}

:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

:where(input[type]) {
  padding: var(--size-2) var(--size-1);
}

:where(select) {
  padding: var(--size-2) var(--size-1);
}

:where(textarea) { resize: block }

:where(input[type="checkbox"], input[type="radio"]) {
  width: 1.25rem;
  height: 1.25rem;
}

:where(svg) {
  stroke: none;
  fill: currentColor;

  &:where(:not([fill])) {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

:where(dt, summary) { font-weight: var(--font-weight-7) }

:where(small) { 
  font-size: max(.5em, var(--font-size-0)); 
  
}

:where(hr) {
  margin: var(--size-fluid-5) 0 var(--size-fluid-5) 0;
  height: var(--border-size-2);
  background-color: var(--surface-3);
}

:where(summary) {
  display: list-item;
}

:where(details) {
  background: var(--surface-2);
  border-radius: var(--radius-2);
}

:where(details[open] > summary) {
  margin-bottom: var(--size-2);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

:where(fieldset) {
  border-radius: var(--radius-2);
  padding: 0;
}

