.provider-card {
  border: 2px solid var(--black);
  border-radius: var(--radius-l);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;

  &:hover {
    box-shadow: var(--shadow-highlight);
    border: 2px solid var(--highlight);
  }
}
