html {
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  --font-lineheight-00: 0.95;
  --font-lineheight-0: 1.1;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
  --font-lineheight-3: 1.5;
  --font-lineheight-4: 1.75;
  --font-lineheight-5: 2;
  --font-lineheight-6: 2.5;

  --font-letterspacing-0: -0.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.05em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;

  --font-size-00: 0.5rem;
  --font-size-0: 0.75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.25rem;
  --font-size-7: 2.5rem;
  --font-size-8: 2.75rem;

  --font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);

  --size-base: 0.25rem;
  --size-1: calc(var(--size-base) * 1); /* 1 * 4 =   4px */
  --size-2: calc(var(--size-base) * 2); /* 2 * 4 =   8px */
  --size-3: calc(var(--size-base) * 3); /* 3 * 4 =  12px */
  --size-4: calc(var(--size-base) * 4); /* 4 * 4 =  16px */
  --size-5: calc(var(--size-base) * 5); /* 5 * 4 =  20px */
  --size-6: calc(var(--size-base) * 6); /* 6 * 4 =  24px */
  --size-7: calc(var(--size-base) * 7); /* 7 * 4 =  28px */
  --size-8: calc(var(--size-base) * 8); /* 8 * 4 =  32px */
  --size-9: calc(var(--size-base) * 9); /* 9 * 4 =  36px */
  --size-10: calc(var(--size-base) * 10); /* 10 * 4 = 40px */
  --size-11: calc(var(--size-base) * 11); /* 11 * 4 = 44px */
  --size-12: calc(var(--size-base) * 12); /* 12 * 4 = 48px */
  --size-13: calc(var(--size-base) * 13); /* 13 * 4 = 52px */
  --size-14: calc(var(--size-base) * 14); /* 14 * 4 = 56px */
  --size-15: calc(var(--size-base) * 15); /* 15 * 4 = 60px */
  --size-16: calc(var(--size-base) * 16); /* 16 * 4 = 64px */

  --gap-s: var(--size-2);
  --gap-m: var(--size-4);
  --gap-l: var(--size-8);

  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;

  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 35ch;

  --scrollbar-color: var(--gray-7);

  --radius-round: 1e5px;
  --radius-s: 0.5rem;
  --radius-m: 1rem;
  --radius-l: 1.5rem;

  --radius-conditional-s: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-s));
  --radius-conditional-m: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-m));
  --radius-conditional-l: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-l));

  --shadow-box: 0px 2px 6px rgba(0, 0, 0, 0.25);
  --shadow-appointment: 0px 4px 11px rgba(0, 0, 0, 0.25);
  --shadow-appointment-2: 0px 12px 16px rgba(0, 0, 0, 0.25);
  --shadow-highligh: 0px 0px 8px var(--highlight);

  scrollbar-color: var(--scrollbar-color) transparent;
  accent-color: var(--primary);
  caret-color: var(--primary);

  font-family: var(--font-sans);
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--page-bg);
  color: var(--text-1);

  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */

  @media (--motionOK) {
    scroll-behavior: smooth;
  }
}
