body {
  font-family: var(--font-sans);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  color: var(--text-1);
  font-family: var(--font-title);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--font-lineheight-1);
  font-weight: var(--font-weight-9);
}

h1,
.h1 {
  font-size: var(--font-size-6);
  max-width: var(--size-header-1);
  font-weight: var(--font-weight-7);
}
h2,
.h2 {
  font-size: var(--font-size-5);
  max-width: var(--size-header-2);
}
h3,
.h3 {
  font-size: var(--font-size-4);
}
h4,
.h4 {
  font-size: var(--font-size-3);
}
h5,
.h5 {
  font-size: var(--font-size-2);
}

.book {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: 12px;
  font-weight: 500;
  max-width: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.text-1 {
  font-size: var(--font-size-2);
  max-width: var(--size-content-3);
}

.text-2 {
  font-size: var(--font-size-3);
  max-width: var(--size-content-3);
}
