.mb-xs {
  margin-bottom: var(--size-1);
}

.mb-s {
  margin-bottom: var(--size-4);
}

.mb-m {
  margin-bottom: var(--size-8);
}

.mb-l {
  margin-bottom: var(--size-16);
}

.text-s {
  font-size: 90%;
}

.text-m {
  font-size: 100%;
}

.text-l {
  font-size: 125%;
}

.max-w-s {
  max-width: 32rem;
}

.max-w-m {
  max-width: 40rem;
}

.max-w-l {
  max-width: 48rem;
}

.block {
  display: block;
  min-width: 100%;
}

.stack-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (--m-n-below) {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
}

.stack-v {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-1 {
  flex: 1;
}

.gap-s {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-l {
  gap: 2rem;
}

.text-center {
  text-align: center;
}

.w-full {
  max-width: 100%;
  width: 100%;
}
