@import "./styles/media.css";
@import "./styles/tokens.css";
@import "./styles/normalize.css";


:root {
  --flow-gap: 2rem;
  --flow-max-width: 100%;
}

:where(html) {
  --color-scrollbar: #dddddd;

  background-color: var(--color-page-bg);
  color: var(--color-black);

  scrollbar-color: var(--color-scrollbar) transparent;
  accent-color: var(--color-highlight);
  caret-color: var(--color-primary);
}

#page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100vh;
  isolation: isolate;

  @media (--m-n-above) {
    margin: 0 2vmax;
  }

  @media (--l-n-above) {
    margin: 0 4vmax;
  }

  @media (--xl-n-above) {
    margin: 0 auto;
  }
}

#navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1280px;
  width: 100%;
  gap: 4rem;
  margin: 0 auto;

  @media (--m-n-above) {
    padding: 1rem 4rem;
    gap: 2rem;
  }

  & > #logo {
    max-width: 50%;

    & img {
      max-width: 100%;
    }

    @media (--m-n-above) {
      max-width: 23%;
    }
  }

  & nav {
    align-self: flex-end;
    gap: 4vmax;

    @media (--m-n-below) {
      display: none;

      &.open {
        z-index: 99;
        display: flex;
        position: fixed;
        align-self: center;
        inset: 0;
        padding: 5vmax;
        place-content: center;
        place-items: center;

        flex-direction: column;
        background-color: white;
        color: black;
        font-size: 2rem;
      }
    }

    @media (--m-n-above) {
      display: flex;
    }
  }

  & button {
    z-index: 100;
    align-self: center;
    border: none;

    & #hamburger {
      width: 2rem;
      height: 2rem;
    }

    &:hover {
      color: var(--color-primary);
    }

    @media (--m-n-above) {
      display: none;
    }
  }
}

#content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  background-color: var(--color-white);

  margin: 1rem 0 2rem 0;
  width: 100%;
  padding: 2rem;
  gap: 2rem;

  @media (--m-n-above) {
    border-radius: var(--radius-m);
    padding: 4rem;
  }

  @media (--l-n-above) {
    padding: 5rem;
  }
}

#footer {
  display: none;
  padding: 1rem 4rem;

  & section {
    display: flex;
    flex-direction: column;

    & > h3 {
      font-size: 1.1rem;
      margin-bottom: 0.25rem;
    }

    & > ul {
      list-style-type: none;
      gap: 0;
    }
  }

  & svg {
    display: none;
  }

  @media (--s-n-above) {
    grid-auto-flow: column;
    place-items: start;
    width: 100%;
    gap: var(--gap-l);
    display: grid;
    padding-bottom: 4vmax;

    & > * {
      display: grid;
      place-items: start;
      gap: var(--gap-m);
    }
  }
}

#page-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;

  & .actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @media (--m-n-above) {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
    }
  }
}

.notification {
  padding: 1rem 1rem 1rem 2rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-m);
  font-weight: 500;
  font-size: 1.1rem;


  &.warning {
    background-color: var(--color-warning-bg);
    color: var(--color-warning);
  }

  &.info {
    background-color: var(--color-info-bg);
    color: var(--color-info);
  }

  &.danger {
    background-color: var(--color-danger-bg);
    color: var(--color-danger);
  }

  &.success {
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }

  & > button {
    align-self: center;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover svg {  
      color: var(--color-primary);
    }
  }
}


.flow, .flow > section, .flow > article > section {
  display: flex;
  flex-direction: column;
  gap: var(--flow-gap);
}

.flow > * + * {
  max-width: var(--flow-max-width);
}

ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


a, button {
  display: inline-flex;
  gap: .5rem;
}

a {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-s);
  text-decoration: none;
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }

  &[aria-current] {
    text-decoration: underline;
  }

  &.link:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
}

.back-link {
  position: relative;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;

  &::before {
    content: url("data:image/svg+xml;utf8,<svg preserveAspectRatio='xMidYMid meet' aria-hidden='true' width='14' height='14' viewbox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.7 12.3L2.9 8.5 15 8.5 15 7.5 2.9 7.5 6.7 3.7 6 3 1 8 6 13z' /></svg>");
    position: absolute;
    left: -1.5rem;

    @media (--m-n-above) {
      left: -2rem;
    }
  }

  &:hover {
    color: var(--color-link-hover);
  }
}



.field {
  display: flex;
  flex-direction: column;
  gap: .25rem
}

.field-group {
  display: flex;
  align-items: stretch;
  border: 2px solid var(--color-black);
  border-radius: var(--radius-m);
  min-width: 100%;

  & input {
    border: 0 !important;
    flex: 1;
  }

  & :where(span) {
    --tw-bg-opacity: 1;
    background-color: hsla(var(--b3) / var(--tw-bg-opacity, 1));
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & > *,
  & > .input {
    border-radius: 0;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 40rem;
}

legend {
  font-weight: 600;
  font-size: 110%;
}

textarea, input[type], select {
  font-size: 1rem;
  padding: 1ch 2ch;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: var(--radius-m);  

  &:focus {
    border-color: var(--color-highlight);
  }

  &[readonly] {
    cursor: not-allowed;
    color: #777;
  }
  
  &[disabled] {
    --input-border: #ccc;
  
    background-color: #eee;
    cursor: not-allowed;
  }
}


input[type="radio"], input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  accent-color: var(--color-primary);
}

input[type="file"] {
  padding: 0;
  

  &::-webkit-file-upload-button {
    border-color: transparent;
    background-color: #4589ff1a;
    color: rgb(14 127 206 / 1);
    font-weight: 600;
    
    padding: 1ch 2ch;
    cursor: pointer;

    &:hover {
      background-color: rgb(14 127 206 / 1);
      color: rgb(255 255 255 / 1);
    }
  }
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  
  user-select: none;
  cursor: pointer;
}

button {
  align-self: flex-start;
}

.button {
  overflow-wrap: break-word;
  border-radius: var(--radius-m);
  border-width: 1px;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  gap: var(--gap-s);
  align-self: flex-start;
  text-align: center;

  padding: 1ch 3ch;

  cursor: pointer;
  text-decoration: none;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border: 1px solid transparent;


  & * {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-primary);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-black);
      border: 1px solid var(--color-black);
    }
  }

  &.secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-black);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
      border: 1px solid transparent;
    }
  }

  &.tertiary {
    border-color: transparent;
    background-color: #4589ff1a;
    color: rgb(14 127 206 / 1);

    &:hover {
      background-color: rgb(14 127 206 / 1);
      color: rgb(255 255 255 / 1);
    }
  }

  &.invalid {
    border-width: 2px;
    background-color: var(--color-white);
    border-color: var(--color-black);
    color: var(--color-black);
  }

  &.block {
    display: block;
    align-self: stretch;
  }

  &.s {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &.m {
    font-weight: 500;
    font-size: 1rem;
  }

  &.l {
    font-weight: 700;
    font-size: 1.25rem;
  }
}


.table {
  display: table;
  min-width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: hidden;

  &.fixed {
    table-layout: fixed;
  }

  &.auto {
    table-layout: auto;
  }

  & thead {
    border-width: 1px 0;
    background-color: rgb(249 250 251/1);
    border-color: rgb(229 231 235/1);
  }

  & th,
  & td {
    padding: 0.75rem 1.5rem;
    text-align: left;
    vertical-align: top;

    &.middle {
      vertical-align: middle;
    }
  }

  & thead th {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: rgb(107 114 128 / 1);
  }
}


.h1, h1 {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 100%;

  @media (--m-n-above) {
    font-size: 2rem;
  }
}

.h2, h2 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 100%;

  @media (--m-n-above) {
    font-size: 1.5rem;
  }
}

.h3, h3 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  max-width: 100%;

  @media (--m-n-above) {
    font-size: 1.2rem;
  }
}

.book {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: .75rem;
  font-weight: 500;
  max-width: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;

  width: fit-content;
  letter-spacing: 1.5px;

  padding: .5ch 2ch;
  border-radius: var(--radius-m);


  &.warning {
    background-color: var(--color-warning-bg);
    color: var(--color-warning);
  }

  &.info {
    background-color: var(--color-info-bg);
    color: var(--color-info);
  }

  &.danger {
    background-color: var(--color-danger-bg);
    color: var(--color-danger);
  }

  &.success {
    background-color: var(--color-success-bg);
    color: var(--color-success);
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

:focus-visible {
  outline-color: var(--color-highlight);
}

/* Respect reduce motion preferences */
@media (--motionNotOK) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

/* Respect opacity preferences */
@media (--opacityNotOK) {
  *,
  ::before,
  ::after {
    opacity: 1 !important;
  }
}

.provider-card {
  border: 2px solid var(--color-black);
  border-radius: var(--radius-l);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
    box-shadow: var(--shadow-highlight);
    border: 2px solid var(--color-highlight);
  } 
}

.error {
  color: var(--color-danger);
  font-weight: 600;
  position: relative;
  margin-left: 2rem;

  &::before {
    content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M10 1.49512C5 1.49512 1 5.48281 1 10.4674C1 15.452 5 19.4397 10 19.4397C15 19.4397 19 15.452 19 10.4674C19 5.48281 15 1.49512 10 1.49512ZM6.5 14.9536L14.5 6.97819L13.5 5.98127L5.5 13.9567L6.5 14.9536Z' fill='%23DA1E28'/><path opacity='0.01' fill-rule='evenodd' clip-rule='evenodd' d='M6.5 14.9538L14.5 6.97837L13.5 5.98145L5.5 13.9568L6.5 14.9538Z' fill='%23DA1E28'/></svg>");
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -1.75rem;
    top: -2px;
  }
}
