/* base */
@import "./styles/normalize.css";
@import "./styles/tokens.css";
@import "./styles/media.css";
@import "./styles/layout.css";
@import "./styles/typography.css";

/* components */
@import "./styles/button.css";
@import "./styles/table.css";
@import "./styles/form.css";
@import "./styles/notification.css";
@import "./styles/tooltip.css";
@import "./styles/navbar.css";
@import "./styles/badge.css";
@import "./styles/link.css";

@import "./styles/providers.css";
@import "./styles/appointments.css";
@import "./styles/faq.css";

/* rest */
@import "./styles/utilities.css";
@import "./styles/a11y.css";

/* input, button, textarea, select,
input[type="file"]::-webkit-file-upload-button {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

input, textarea, select {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-s);
}

input[type="checkbox"], input[type="radio"] {
  height: var(--size-3);
  width: var(--size-3);
}

input[type="checkbox"][role="switch"] {

} */

/* input[type="checkbox"] {
  width: var(--size-6);
  height: var(--size-6);

  &:hover {
    color: var(--link-hover);
  }
} */

/* input[type="checkbox"][role="switch"] {
  
} */

*,
::before,
::after {
  margin: 0;
}

.error {
  background-color: var(--error-bg);
  color: var(--error);
  text-align: center;
}
